body {
  font-family: "Open Sans", serif;
}

.background {
  background: linear-gradient(to right, cyan, navy);
  height: 90vh;
}

.main {
  margin: 0.5rem 2rem 1rem 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
}

.title {
  background-size: cover;
  background: url("Component/bgg.png") center center no-repeat;
  align-items: center;
  height: 40vh;
  text-align: center;
}

.titles_two {
  font-style: italics;
  font-weight: 200;
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 1.5;
  color: red;
  font-family: "Merriweather", serif;
}

.others {
  background-color: #235481;
  height: 35vh;
  padding: 1rem;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #f16051;
  width: 30%;
  padding-bottom: 4px;
  color: #fff !important;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 10px;
  margin-right: 20px;
  font-size: 20px;
}

input[type="text"] {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #2c3e50 inset;
  -webkit-text-fill-color: #fff !important;
}

button {
  background-color: #f16051;
  color: #fff;
  border: 0;
  padding: 8px 20px;
  margin: 0 2px;
  font-weight: 100;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 1px;
  border-radius: 8px;
}

button:active {
  outline: none;
}

.list {
  width: 62%;
  font-size: 17px;
  font-weight: 200;
  list-style-type: none;
  letter-spacing: 2px;
}

.item:last-child {
  border: none;
}

.item {
  color: #f16051;
  padding: 0.2px 0 0.2px 0;
  border-bottom: solid 2px rgba(255, 255, 255, 0.06);
}

.value {
  color: #fff;
  font-weight: 200;
}

.error {
  color: #f16051;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}
